@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* COLORS:
#3b3355 //DARK PURP
#de6969 //DAWI PINK
#c3c3e6 //LIGHT PURP
#1a1a1a //BLACK
*/

/* BODY */
html {
  background: #676767;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.basicTextBox {
  position: relative;
}

/* BUTTONS */
.button-pair {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  /* width: max-content; */
  max-width: 100%;
  background-color: #70ddff;
  /* justify-content: space-between; */
  /* padding: 10px 0px; */
}

.button-pair > a,
.button-pair > button {
  min-width: max-content;
}

.pos-btn {
  padding: 10px 40px;
  border: #000000 none;
  border-radius: 24px;
  background: linear-gradient(90deg, #de6969, #de6969b2, #3b33555c);
}

.neg-btn {
  padding: 10px 40px;
  border: #000000 none;
  border-radius: 24px;
  background: none;
}

.neg-btn:hover,
.pos-btn:hover {
  color: #c3c3e6;
  border: 2px solid #c3c3e6;
  text-shadow: 0 0 10px #9403e8, 0 0 20px #9403e8,
    /* Outer Glow */ 0 0 30px #7cdaff; /* Lowkey Glow */
}

/* NAVBAR */
.navbar,
.navbar__mobile {
  display: flex;
  justify-content: space-between;
  font-family: "Audiowide", sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 1000;
}

.navbar__mobile__open {
  display: none;
}

.nav-image {
  max-width: 100px;
  max-height: 40px;
  padding: 10px;
}

.logo-mark {
  max-width: 100px;
  max-height: 60px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; /* Padding for spacing */
  text-decoration: none;
}

.navbar a:hover {
  color: #de6969;
  text-shadow: 0 0 10px #9403e8, 0 0 20px #9403e8,
    /* Outer Glow */ 0 0 30px #7cdaff; /* Lowkey Glow */
}

/* HERO */
#hero {
  background-image: url("../images/site_2.png");
  background-position: center;
}

/* SECTIONS */
.section-block {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: aliceblue;
  overflow: hidden;
  z-index: 5;
  background-color: rgb(26, 26, 26);
}

.section__content {
  position: relative;
  display: flex;
  text-align: left;
  background-color: #764646;
}

.content__left,
.content__right {
  position: relative;
  width: 50%;
}

.content__left {
  background-color: #7f00ff;
}

.content__right {
  background-color: #70ddff;
}

/* BUILDS */
.content__right > iframe {
  height: 100vw;
}

/* GEMS */
.gem-section {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}

#gem-canvas-container {
  position: fixed;
  height: 100vw;
  width: 100vw;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: #3d05055b; */
}

#gem-canvas-container > canvas {
  position: fixed;
  height: 100vw;
  width: 100vw;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #3d05055b;
}

.scrolling-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: #98fb98; */
}

.scrolling-content > section {
  max-width: 100%;
  /* left: 0px; */
  /* background-color: #70ddff; */
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.gems-title {
  margin: 10vh 10px;
  display: flex;
  justify-content: end;
}

.gems-title > h1 {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

#gem-btn-container {
  position: relative;
  width: 80vw;
  background-color: #7f00ff;
  align-items: center;
}

.gem-btn {
  padding: 20px;
}

.gem-btn > img {
  max-width: 15vw;
  background-color: #de6969;
}

.glet {
  animation: spinInFromLeft linear;
  animation-timeline: view(50vh 0px);
  /* animation-range-start: 500px;
  animation-range-start: 700px; */
}

/* FOOTER */
#footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  text-align: center;
  overflow: hidden;
  z-index: 10;
  background-color: #1a1a1a;
}

.footer-top-section {
  /* min-height: 50vh; */
  background-color: #58235d;
}

.footer-top-section > section {
  /* position: absolute; */
  /* top: 0px; */
  /* background-color: #462929; */
}

.footer-scene-container {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #764646;
}

.footer-scene-container > canvas {
  position: relative;
  /* background-color: #70ddff; */
  z-index: 1;
  width: 350px;
  height: 350px;
}

.footer-end {
  padding-bottom: 4px;
}

.footer-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  align-items: center;
}

.social-icons > a {
  align-items: center;
}

.social-icons > a > img {
  /* background-color: #ff70ba; */
  width: 45px;
  height: 45px;
  padding: 0px 5vw;
}

/* ANIMATIONS */
@keyframes spinInFromLeft {
  from {
    transform: rotateZ(90deg);
    opacity: 1;
  }
  to {
    transform: rotateZ(0deg);
    opacity: 1;
  }
}

/* MOBILE */
@media screen and (max-width: 500px) {
  .navbar__mobile {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .section__content {
    flex-direction: column;
    /* width: 100%; */
  }

  .content__left,
  .content__right {
    min-width: 100%;
  }

  .ttbox {
    padding-top: 10vh;
  }
}

/* DESKTOP */
@media screen and (min-width: 501px) {
  .navbar__mobile {
    display: none;
  }
  .navbar {
    display: flex;
  }
}
