@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

h1,
h2,
h3,
h4,
p,
a {
  padding: 0px;
  margin: 0px;
  font-family: "Audiowide", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.neo1 {
  background: linear-gradient(90deg, #ff6e7f, #ff6e7f, #8000ff7e, #70ddff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.neo2 {
  background-image: url("../images/2.jpg");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 {
  /*Main Title*/
  font-family: "Bungee", sans-serif;
  max-width: min-content;
  font-size: 10vw;
  font-weight: 400;
  line-height: 0.2;
}
h2 {
  /*Sub Title*/
  font-family: "Audiowide", sans-serif;
  max-width: min-content;
  font-size: 8vw;
  font-weight: 400;
}
h3 {
  /* Misc Title, attention grab */
  font-family: "Bungee", sans-serif;
  max-width: min-content;
  font-size: 32px;
  font-weight: 200;
}
h4 {
  /* External links */
  font-family: "Bungee", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 200;
}
p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1;
}
a {
  font-family: "Audiowide", sans-serif;
  font-size: 14px;
}
a:hover {
  color: #c3c3e6;
  text-shadow: 0 0 10px #9403e8, 0 0 20px #9403e8,
    /* Outer Glow */ 0 0 30px #7cdaff; /* Lowkey Glow */
}
p {
  font-size: 20px;
}

/* SCREEN */
@media screen and (max-width: 500px) {
  h1,
  h2 {
    font-size: 10vw;
  }

  p{
    font-size: 14px;
  }
}
